@model IEnumerable<Member.Models.MemberType>


@using (Html.BeginForm("Index", "MemberType", FormMethod.Get))
{
    if (User.Identity.IsAuthenticated)
    {
        @*<p>
                    @Html.ActionLink("Create New", "Create")
            </p>*@
        <div class="form-group">
            <div class="col-md-10">
                <p>
                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                @Html.TextBox("searchString", null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <input id="Search" type="submit" name="submit" value="Search" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </div>

        if (TempData["FailureMessage"] != null)
        {
            <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["SuccessMessage"]");
            };
            </script>
        }
        <table class="table">
            <thead>
                <tr>
                    @* <th>
                            @Html.DisplayNameFor(model => model.memberTypeId)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.type)
                    </th>
                </tr>
            </thead>


            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.memberTypeId)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "MemberType", new { id = item.memberTypeId })">
                            <img src="@Url.Content("~/Content/edit.png")" />
                        </a>
                        <a href="@Url.Action("Details", "MemberType", new { id = item.memberTypeId })">
                            <img src="@Url.Content("~/Content/info.png")" />
                        </a>

                        <a id="delete" href="@Url.Action("Delete", "MemberType", new { id = item.memberTypeId })">
                            <img src="@Url.Content("~/Content/delete.png")" />
                        </a>




                    </td>
                </tr>
            }

        </table>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")


    <script>
        $(document).on("click", "#delete", function () {
            return confirm("Are you sure you want to delete?");
        });
    </script>
}