@model IEnumerable<Member.Models.Members>
@{
    List<Member.Models.MemberType> MemberTypes = (List<Member.Models.MemberType>)ViewBag.MemberType;
    string a = ViewBag._Option;
}

<style>
    table {
        width: 100%;
    }

    td {
        width: 7%
    }
</style>

@using (Html.BeginForm("Index", "Members", FormMethod.Get))
{
    if (User.Identity.IsAuthenticated)
    {

        @*<p>
                @Html.ActionLink("Create New", "Create")
            </p>*@

        <div class="form-group">
            <div class="col-md-10">
                <p>
                    <b>Search Option:</b>
                    @Html.RadioButton("option", "Name", true, new { onCLick = "ShowOption(this)" }) <text>Name</text>
                    @Html.RadioButton("option", "Address", new { onCLick = "ShowOption(this)" }) <text> Address </text>
                    @Html.RadioButton("option", "Gender", new { onCLick = "ShowOption(this)" })<text>Gender</text>
                    @Html.RadioButton("option", "Member Type", new { onCLick = "ShowOption(this)" })<text>Member Type</text>
                    @Html.RadioButton("option", "Entry Date", new { onCLick = "ShowOption(this)" })<text>Entry Date</text>
                    @Html.RadioButton("option", "Expiry Date", new { onCLick = "ShowOption(this)" })<text>Expiry Date</text>
                    <div class="row">
                        <div class="col-md-4">
                            <div id="div1">
                                @Html.TextBox("searchString", null, new { @class = "form-control" })
                            </div>


                            <div id="div2">
                                <select id="searchStringG" name="searchStringG" class="form-control">
                                    <option value="Male" )>Male</option>
                                    <option value="Female" )>Female</option>
                                    <option value="Others" )>Others</option>
                                </select>
                            </div>
                            <div id="div3">
                                @Html.DropDownList("searchMT", new SelectList(MemberTypes, "memberTypeId", "type"), htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div id="div4">
                                <input type="text" name="SearchStringD" id="SearchStringD" class="form-control datetime" readonly="readonly" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input id="Search" type="submit" name="submit" value="Search" class="btn btn-default" />
                        </div>

                    </div>
                    <br />

            </div>
        </div>


        <table class="table table-striped">
            <thead>
                <tr>
                    @*<th>
                            @Html.DisplayNameFor(model => model.memberId)
                        </th>*@
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.fullName)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.gender)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.address)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.mobileNumber)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.email)
                    </th>

                    @*<th>
                            @Html.DisplayNameFor(model => model.memberTypeId)
                        </th>*@
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.memberTypeValue)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.entryDate)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.expiryDate)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.memberFee)
                    </th>

                    <th scope="col">
                        @Html.DisplayNameFor(model => model.attachment)
                    </th>

                    <th scope="col">
                        @Html.DisplayNameFor(model => model.image)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.isActive)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.remarks)
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @* <td>
                                @Html.DisplayFor(modelItem => item.memberId)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.fullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.mobileNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>

                        @*<td>
                                @Html.DisplayFor(modelItem => item.memberTypeId)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.memberTypeValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.entryDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.expiryDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.memberFee)
                        </td>

                        <td>
                            @*@Html.DisplayFor(modelItem => item.attachment)*@
                            @{
                                string attachmentPath = "~/MemberAttachments/" + item.attachment;
                                <a href="@Url.Content(attachmentPath)" target="_blank">@item.attachment</a>
                            }
                        </td>

                        <td>
                            @*@Html.DisplayFor(modelItem => item.image)*@
                            @{
                                string imagePath = "~/MemberImages/" + item.image;
                                <img src="@Url.Content(imagePath)" style="width:50px;height:50px;" alt="NA" />
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.isActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.remarks)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Members", new { id = item.memberId })">
                                <img src="@Url.Content("~/Content/edit.png")" />
                            </a>
                            <a href="@Url.Action("Details", "Members", new { id = item.memberId })">
                                <img src="@Url.Content("~/Content/info.png")" />
                            </a>

                            <a id="d" href="@Url.Action("Delete", "Members", new { id = item.memberId })">
                                <img src="@Url.Content("~/Content/delete.png")" />
                            </a>



                            @* @Html.ActionLink("Edit", "Edit", new { id = item.memberId })
                                @Html.ActionLink("Details", "Details", new { id = item.memberId })
                                @Html.ActionLink("Delete", "Delete", new { id = item.memberId }, new { onclick = "return confirm('Are sure wants to delete?');" })*@
                        </td>
                    </tr>
                }
            </tbody>



        </table>



    }

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script>
        $(document).ready(function () {
            $('.datetime').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true
            });

        });
    </script>

    <script>
        $(document).ready(function () {
            var s = '@ViewBag._Option';
                    console.log(s);
                    if (s==null || s=='') {
                        $('#div1').show();
                        $('#div2').hide();
                        $('#div3').hide();
                        $('#div4').hide();
                    }

                    else if (s == 'Name' || s == 'Address') {
                        $('#div1').show();
                        $('#div2').hide();
                        $('#div3').hide();
                        $('#div4').hide();
                    }
                    else if (s == 'Gender') {
                        $('#div2').show();
                        $('#div1').hide();
                        $('#div3').hide();
                        $('#div4').hide();
                    }
                    else if (s == 'Member Type') {
                        $('#div3').show();
                        $('#div2').hide();
                        $('#div1').hide();
                        $('#div4').hide();
                    }
                    else if (s == 'Entry Date' || s == 'Expiry Date') {
                        $('#div4').show();
                        $('#div2').hide();
                        $('#div3').hide();
                        $('#div1').hide();
                    }
        });
    </script>

    <script>
        $(document).on("click", "#d", function () {
            return confirm("Are you sure you want to delete?");
        });
    </script>


    <script type="text/javascript">

        $('#div2').hide();
        $('#div3').hide();
        $('#div4').hide();



        function ShowOption(radio) {
            var setdRad = radio.value;

            HideAll();

            if (setdRad == 'Name' || setdRad == 'Address') {
                $('#div1').show();
            }
            else if (setdRad == 'Gender') {
                $('#div2').show();
            }
            else if (setdRad == 'Member Type') {
                $('#div3').show();
            }
            else if (setdRad == 'Entry Date' || setdRad == 'Expiry Date') {
                $('#div4').show();
            }
        }


        function HideAll() {
            $('#div4').hide();
            $('#div3').hide();
            $('#div2').hide();
            $('#div1').hide();
        }

    </script>
}




